* {
    margin: 0%;
    padding: 0%;
    font-family: 'Sanchez', serif;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px auto;
    text-align: center;
    padding: 0 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dylan{
    display: flex;
    position: relative;
    justify-content: space-between;

}

.lyricDisplay{
    display: flex;
    flex-direction: column;
    margin: 50px 0px 50px 50px;
    text-align: center;
    color: aliceblue;
    width: 500px;
}

#bobDylanImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

#clickableArea {
    position: absolute;
    top: 160px;
    left: 165px;
    width: 20px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    z-index: 1;
}


header {
    display: flex;
    margin: 25px;
    height: 100px;
    background-color: #999;
    padding: 15x;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 90%;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  
a:hover{
    color: #888;
}




#songTitle {
    color: #666;
    /* font-weight: bold; */
    font-style: italic;
}

#lyric {
    font-size: 20px;
    color: #222;
}

@media (max-width: 960px) {
    .Dylan {
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .lyricDisplay {
        width: 100%;
        margin: 50px 0;
    }

}