*{
  margin: 0%;
  padding: 0%;
  font-family: 'Sanchez', serif;
  text-decoration: none;
}

body {
  max-width: 720px;
  min-width: 320px;
  margin: 15px auto;
}

/* img */
.headimg{
  border-radius: 15px;
  background: url(./img/Lina-Bo-Bardi-Glass-House-Casa-de-Vidro-1024x799.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.invisibleLink {
  display: block;
  position: absolute;
  height: 500px;
  width: 720px;
}

img{
  width: 720px;
}

/* p1 */
.p1 h1{
  text-align: center;
  line-height: 100px;
}

.p1 h4{
  text-align: center;
}

.p1box{
  background-color: rgb(247, 247, 247);
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 15px;
}

/* p2 */
.p2 h1{
  text-align: center;
  line-height: 100px;
}

.p2 h4{
  text-align: center;
}

.p2box{
  background-color: rgb(247, 247, 247);
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 15px;
}