*{
    margin: 0%;
    padding: 0%;
    font-family: 'Sanchez', serif;
}

html,
body{
    height: 100%;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    min-width: 320px;
    min-height: 97%;
    margin: 15px auto;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(247, 247, 247);
}

/* ps */
.ps{
    display: flex;
    justify-content: space-between;
}

.name{
    display: flex;
    flex-direction: column;
    margin: 50px 0px 50px 50px;
    text-align: left;
}

h1{
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
    font-size: 75px;
}

.ln{
    color: rgb(180, 180, 180);
}

.cln{
    display: flex;
    flex: 1;
    align-items: end;
    font-size: 19px;
}

.head{
    margin: 50px 50px 50px 0px;
}

/* assignment */
h3{
    line-height: 50px;
}

.listitem{
    display: flex;
    width: 500px;
    margin: 100px auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

ul{
    text-align: left;
}

abbr{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(64, 64, 64);
}

a:hover{
    color: rgb(42, 85, 165);
}

a:active{
    color: rgb(201, 43, 43);
}

/* a:visited{
    color: rgb(124, 124, 124);
} */


/* footer */
.footer{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: end;
    flex: 1

}
