*{
  margin: 0%;
  padding: 0%;
  font-family: 'Sanchez', serif;
}

body {
  max-width: 720px;
  min-width: 320px;
  margin: 15px auto;
}

abbr{
  text-decoration: none;
}

h1{
  text-align: center;
  line-height: 100px;
}

p {
  font-weight: 500;
}

a{
  text-decoration: none;
  color: rgb(124, 124, 124);
}

a:hover{
  color: rgb(42, 85, 165);
}

a:active{
  color: rgb(62, 112, 73);
}

a:visited{
  color: rgb(124, 124, 124);
}
