* {
	box-sizing: border-box;
}
  
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
header {
	background-color: #f6da34;
	height: 80px;
	width: 100%;
	display: flex;
	padding: 0 20px;
	color: #fff;
}
  
header h1 {
	font-size: 24px;
}

.container{
	padding: 50px;
}

.search-container {
	background-color: #f6d934;
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}
  
.search-form {
	display: flex;
	gap: 10px;
}
  
.search-form input,
.search-form button {
	padding: 5px 10px;
	border-radius: 5px;
}
  
.search-form input {
	border: 1px solid #ccc;
}
  
.search-form button {
	background-color: #fff;
	border: none;
	color: #000;
	cursor: pointer;
}
  
.section {
	padding: 20px;
	background-color: #fff;
	margin: 20px;
	border-radius: 5px;
	width: 80%;
}

.section h2 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.destinations-grid,
.hotels-grid {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.destination-card,
.hotel-card {
	background-color: #f6d934;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	width: 30%;
}

footer {
	background-color: #f6da34;
	text-align: center;
	padding: 20px 0;
	color: #fff;
	width: 100%;
}
  