body {
font-family: 'Quicksand', sans-serif;
}

p {
  font-weight: 500;
}

a{
  text-decoration: none;
  color: rgb(124, 124, 124);
}

a:hover{
  color: rgb(42, 85, 165);
}

a:active{
  color: rgb(62, 112, 73);
}

a:visited{
  color: rgb(124, 124, 124);
}
